    @font-face {
        font-family: 'Hk Grotesk';
        font-style: normal;
        font-weight: 400;
        src: url('./fonts/HKGrotesk-Regular.woff') format('woff');
    }
    
    @font-face {
        font-family: 'Jost';
        font-style: normal;
        font-weight: 400;
        src: url('./fonts/Jost-Regular.ttf') format('woff');
    }
    
    body {
        margin: 0;
        font-family: 'Hk Grotesk', sans-serif;
    }
    
    .div-center {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .thumbnail {
        width: 99%;
        margin: 0.5% 0.5% 0.5% 0.5%;
    }
    
    .thumbnail-div {
        padding: 0.5%;
        max-width: 23%;
        -ms-flex: 23%;
        flex: 23%;
        display: inline-block;
        margin: 0.2% 0.2% 0.2% 0.2%;
        border: 1px solid rgb(75, 75, 75);
    }
    
    .thumbnail-div:hover {
        opacity: 90%;
    }
    
    .thumbnail-container {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0 4px;
        justify-content: center;
    }
    
    .duration {
        float: right;
        font-size: 70%;
        text-decoration: none;
    }
    
    .tags {
        float: left;
        font-size: 70%;
        text-decoration: none;
    }
    
    @media screen and (max-width: 800px) {
        .thumbnail-div {
            -ms-flex: 46%;
            flex: 46%;
            max-width: 46%;
        }
    }
    
    @media screen and (max-width: 600px) {
        .thumbnail-div {
            -ms-flex: 92%;
            flex: 92%;
            max-width: 92%;
        }
    }
    
    .title {
        white-space: nowrap;
        overflow: hidden;
        margin-top: -1%;
        margin-bottom: -1%;
    }
    
    .title a {
        text-decoration: none;
    }